<!-- 
<div class="sort-order" data-option-key="sortBy">
    <span>Order by:</span>
    <ul class="pills">
        <li><a href="#sortBy=original-order" data-option-value="original-order" class="active">latest</a></li>
        <li><a href="#sortBy=number" data-option-value="number">popular</a></li>
    </ul>
</div>
-->

{% if space.ideas != empty %}
<ul class="ideas" id="ideas-loaded">

{% for idea in space.ideas %}
<li>
  <div class="idea">
    <img class="eb-image" src="{{idea.images.first.large}}" />
    
    <div class="idea-ui">
      <div class="idea-ui-container">

        <div class="idea-comments">
          <h2>{{idea.title}}'s comments</h2>  
        </div><!-- /.idea-comments -->

        <div class="idea-map">
          <div class="map-holder">
            <div class="gmap" id="map0"></div>
          </div><!-- /.map-holder -->   
        </div><!-- /.idea-comments -->
        
        <ul class="idea-nav">
          <li class="icon-like"><a href="#">Like</a></li>
          <li class="icon-comment"><a href="#">Comment</a></li>
          <li class="icon-locate"><a href="#">Locate</a></li>
          <li class="icon-view last"><a class="fancyb" href="{{idea.images.first.large}}" title="Taken by Benjamin Reid">View</a></li>
        </ul>
      </div><!-- /.idea-ui-container -->  
    </div><!-- /.idea-ui -->
  </div><!-- /.idea -->
</li>
{% endfor %}

</ul>
{% else %}

<div class="empty">
  <h1>There aren't any photos here yet!</h1>
  {% if current_user %}
  <p>be the first to add photo by using the 'add a new idea' button</p>
  {% else %}
  <p>login with twitter or facebook to be the first to add a photo</p>
  {% endif %}
</div>

{% endif %}